{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{# Read the documentation for more information #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="{% static 'admin_panel/imgs/logo.svg' %}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {#    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" >#}
    <link rel="stylesheet"
          href="{% static 'admin_panel/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/dist/css/adminlte.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/base.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light pb-1">
        <!-- Left navbar links -->
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-center text-black">
            <li class="nav-item">
                <a class="nav-link pr-1 text-black" data-widget="pushmenu" href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                         class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black d-none d-sm-inline" href="#" role="info">
                    Панель администратора
                </a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto d-flex flex-row align-items-center justify-content-center">
            <!-- fullscreen -->
            {% if user_permission.flat_owner %}
                <li class="nav-item dropdown mt-1">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa-sharp fa-solid fa-person"></i>
                        {% if new_clients.count > 0 %}
                            <span class="badge badge-success navbar-badge">{{ new_clients.count }}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">Новых пользователей: {{ new_clients.count }}</span>
                        <div class="dropdown-divider"></div>
                        {% for client in new_clients %}
                            <a href="{% url 'read_client' client.id %}" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> {{ client }}
                            </a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'clients' %}" class="dropdown-item dropdown-footer">Перейти в раздел
                            пользователей</a>
                    </div>
                </li>
            {% endif %}



            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-solid fa-crown"></i>
                    <span class="d-none d-sm-inline" style="font-size: 15px">{{ request.user }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-item card card-widget widget-user p-0 m-0">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username">{{ request.user }}</h3>
                            <h5 class="widget-user-desc">{{ request.user.personal.get_role_display }}</h5>
                        </div>
                        <div class="widget-user-image">

                            <img class="img-circle elevation-1" src="{% static 'admin_panel/imgs/user-avatar.jpg' %}"
                                 alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <a href="{% url 'update_personal' user.id %}" type="button"
                                   class="col-5 btn btn-block btn-default">Профиль</a>
                                <div class="col-2"></div>
                                <a href="{% url 'logout' %}" class="col-5 btn btn-block btn-default">Выход</a>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </li>


        </ul>

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-gray-dark elevation-4">

        <!-- Brand Logo -->
        <a href="#" class="brand-link text-center p-2">
            <img src="{% static 'admin_panel/imgs/logo.svg' %}" alt="AdminLTE Logo" class="" style="width: 9rem;">
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column mb-3" data-widget="treeview" role="menu"
                    data-accordion="false" style="font-size: 14px">
                    {% if user_permission.statistics %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'statistic' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-light fa-chart-line"></i>
                                    <span class="font-weight-bold p-2">Статистика</span>

                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.paybox %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'paybox' %}" class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-light fa-dollar-sign"></i>
                                    <span class="font-weight-bold p-2">Касса</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.receipt %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'receipts' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-file"></i>
                                    <span class="font-weight-bold p-2">Квитанции на оплату</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.personal_account %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'personal_accounts' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-credit-card"></i>
                                    <span class="font-weight-bold p-2">Лицевые счета</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.flat %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'flats' %}" class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-key"></i>
                                    <span class="font-weight-bold p-2">Квартиры</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.flat_owner %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'clients' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-users"></i>
                                    <span class="font-weight-bold p-2">Владельцы квартир</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.house %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'houses' %}" class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-building"></i>
                                    <span class="font-weight-bold p-2">Дома</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.mailbox %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'mailboxes' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-envelope"></i>
                                    <span class="font-weight-bold p-2">Сообщения</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.indication %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'applications' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                    <span class="font-weight-bold p-2">Заявки вызова мастера</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.indication %}
                        <li class="nav-item pb-1" style="height: 3rem;">
                            <a href="{% url 'counters' %}"
                               class="nav-link h-100 d-flex flex-row align-items-center ps-2">
                                <i class="fa-solid fa-calculator"></i>
                                <p class="font-weight-bold p-2">Показания счётчиков</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if user_permission.manage_site %}
                        <li class="nav-item">
                            <a href="#" class="nav-link ps-2">
                                <i class="fa-solid fa-desktop"></i>
                                <p class="font-weight-bold font-weight-bold p-2">
                                    Управление сайтом
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'main_page' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Главная страница</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'about_us' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>О нас</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'services' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Услуги</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'tariffs' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Тарифы</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'contacts' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Контакты</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user_permission.service or user_permission.tariff or user_permission.role or user_permission.users or user_permission.payment_detail or user_permission.payment_article %}
                        <li class="nav-item">
                            <a href="#" class="nav-link ps-2">
                                <i class="fa-sharp fa-solid fa-gears"></i>
                                <p class="font-weight-bold font-weight-bold p-2">
                                    Настройки системы
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                {% if user_permission.service %}
                                    <li class="nav-item">
                                        <a href="{% url 'system_services' %}" class="nav-link">
                                            <i class="fa-solid fa-briefcase"></i>
                                            <p class="font-weight-bold p-2">Услуги</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if user_permission.tariff %}
                                    <li class="nav-item">
                                        <a href="{% url 'system_tariffs' %}" class="nav-link">
                                            <i class="fa-solid fa-money-check-dollar"></i>
                                            <p class="font-weight-bold p-2">Тарифы</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if user_permission.role %}
                                    <li class="nav-item">
                                        <a href="{% url 'roles' %}" class="nav-link">
                                            <i class="fa-solid fa-scale-balanced"></i>
                                            <p class="font-weight-bold p-2">Роли</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if user_permission.users %}
                                    <li class="nav-item">
                                        <a href="{% url 'personals' %}" class="nav-link">
                                            <i class="fa-solid fa-user-plus"></i>
                                            <p class="font-weight-bold p-2">Пользователи</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if user_permission.payment_detail %}
                                    <li class="nav-item">
                                        <a href="{% url 'system_payment_details' %}" class="nav-link">
                                            <i class="fa-solid fa-credit-card"></i>
                                            <p class="font-weight-bold p-2">Платёжные реквизиты</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if user_permission.payment_article %}
                                    <li class="nav-item">
                                        <a href="{% url 'system_payment_articles' %}" class="nav-link">
                                            <i class="fa-solid fa-list-ol"></i>
                                            <p class="font-weight-bold p-2">Статьи платежей</p>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </aside>
    {% block content %}

    {% endblock %}
    <footer class="main-footer">
        <span class="text-black">Разработано <a href="https://avada-media.ua/en/">AVADA-MEDIA.</a> На базе системы управления <a
                href="http://myhouse24.avada-media.ua/">"МойДом24"</a>. Документация API доступна по <a
                href="https://adminlte.io">ссылке</a>.</span>
    </footer>
</div>
{#    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}" ></script>#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'admin_panel/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin_panel/adminlte/dist/js/adminlte.min.js' %}"></script>
<script src="https://kit.fontawesome.com/cce590ac92.js" crossorigin="anonymous"></script>
<script src="{% static 'admin_panel/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script type="application/javascript">
    $('.form-control, .form-select').addClass('rounded-0 shadow-none')
</script>
{% block script %}
{% endblock %}
</body>
</html>