{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}
    {% block title_2b %}
    {% endblock %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/select2/css/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    {% block head_2b %}

    {% endblock %}
{% endblock %}
{% block content %}

    <div class="content-wrapper"  style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="mb-0">{% block name %} {% endblock %}</h4>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                {% if user_permission.statistics %}
                    <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'update_personal' request.user.id %}">Главная</a></li>
                {% endif %}
                {% block navigation %}
                {% endblock %}
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
        <div class="row mb-3">
          <div class="dropdown text-right">
            {% block action_list %}

            {% endblock %}
          </div>
          <!-- ./col -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
       <div class="card card-success card-outline">
          <div class="card-header text-right p-2 pe-3">
            <button type="button" class="btn btn-default clear_button">Очистить</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
              <div class="table-responsive" >
                  {% block card_body %}
                  {% endblock %}
              </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer d-flex flex-column bg-white">
              {% block card_footer %}
              {% endblock %}
          </div>
       </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock %}
{% block script %}
    <script src="{% static 'admin_panel/adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript">
       //Initialize Select2 Elements

        $('.select2').select2({
              placeholder: '',
              width: 'auto',
              dropdownAutoWidth : true

        })
        $('.select2-simple').select2({
              placeholder: '',
              minimumResultsForSearch: -1

        })
        $('.clear_button').on('click',function () {
            $('input').each(function () {
                $(this).val('')
            })
            $(".select2-simple").val('').trigger('change')
            $(".select2-simple-section").val('').trigger('change')
            $(".select2-simple-floor").val('').trigger('change')
            $(".select2-simple-service").val('').trigger('change')
            $(".select2").val('').trigger('change')

             $("#filter").trigger('submit')

        })
    </script>
    {% block  script_2b %}
    {% endblock %}
{% endblock %}
