{% extends 'admin_panel/base_2b.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title_2b %}
   Показания счетчиков, кв.{{ flat.number }}
{% endblock %}
{% block head_2b %}
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/select2/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/application/application.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
{% endblock %}
{% block name %}
    Показания счетчиков, кв.{{ flat.number }}
{% endblock %}
{% block navigation %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Счётчики</a></li>
    <li class="breadcrumb-item active">Показания счетчиков, кв.{{ flat.number }}</li>
{% endblock %}
{% block action_list %}
    <a class="btn btn-success" href="{% url 'add_indication_to_flat' flat.id %}">Добавить показание</a>
{% endblock %}


{% block card_body %}
    <form action="{% url 'filtered_counter_indications' flat.id%}" method="get" id="filter">
       <table id="indication" class="table border-0 table-bordered table-hover  linkedRow w-100">
          <thead>
            <tr>
              <th>№</th>
              <th>Статус</th>
              <th>Дата</th>
              <th>Месяц</th>
              <th>Дом</th>
              <th>Секция</th>
              <th>№ квартиры</th>
              <th>Счетчик</th>
              <th>Показания</th>
              <th>Ед. изм.</th>
              <th></th>
            </tr>
            <tr class="border-0" >
            <td style="min-width: 150px">
                {% bootstrap_field filter_form.number wrapper_class='' %}
            </td>
             <td style="min-width: 190px">
                 {% bootstrap_field filter_form.status wrapper_class='' %}
              </td>
            <td style="min-width: 150px">
                {% bootstrap_field filter_form.daterange wrapper_class='' %}
            </td>
            <td style="min-width: 120px"></td>
               <td style="min-width: 150px">
                   {% bootstrap_field filter_form.house wrapper_class='' %}
               </td>
                <td style="min-width: 150px">
                    {% bootstrap_field filter_form.section wrapper_class='' %}
                </td>
               <td style="min-width: 150px">
                   {% bootstrap_field filter_form.flat wrapper_class='' %}
               </td>
               <td style="min-width: 150px">
                   {% bootstrap_field filter_form.service wrapper_class='' %}
               </td>
               <td style="min-width: 170px"></td>
               <td style="min-width: 100px"></td>
               <td></td>
            </tr>
          </thead>
          <tbody>
          {% for indication in indications %}
            <tr class="border-0 row_elem">
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">{{ indication.number }}</td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                  {% if indication.get_status_display == 'Новое' %}
                      <span class="badge text-bg-warning text-white">Новое</span>
                      {% elif indication.get_status_display == 'Учтено' %}
                      <span class="badge text-bg-success text-white">Учтено</span>
                      {% elif indication.get_status_display == 'Учтено и оплачено' %}
                      <span class="badge text-bg-success text-white">Учтено и оплачено</span>
                      {% else %}
                      <span class="badge text-bg-primary text-white">Нулевое</span>
                  {% endif %}
              </td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">{{ indication.date_published }}</td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">{{ indication.date_published|date:"F Y" }}</td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">{{ indication.flat.house }}</td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                  {% if indication.flat.section is None %}
                      (не указано)
                  {% else %}
                      {{ indication.flat.section }}
                  {% endif %}
              </td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                  {{ indication.flat.number }}
              </td>
              <td style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                  {{ indication.service.title }}

              </td>
              <td style="background: #F0FBF0" style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                 {{ indication.indication_val }}
              </td>
              <td style="background: #F0FBF0" style="cursor: pointer;" data-href="{% url 'read_indication' indication.id %}">
                  {{ indication.service.measure }}
              </td>
              <td class="ps-1 pe-1 text-center">
                   <div class="btn-group">
                      <a class="btn btn-default" href="{% url 'update_indication' indication.id %}" role="button"><i class="fa-solid fa-pencil"></i></a>
                      <button class="btn btn-default delete-confirmation" data-target="{{ indication.id }}" role="button"><i class="fa-solid fa-trash-can"></i></button>
                   </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
       </table>
    </form>
{% endblock %}

{% block card_footer %}
    <div class="d-inline-flex justify-content-end">
        {% bootstrap_pagination page_obj size='sm' %}
    </div>
{% endblock %}

{% block  script_2b %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="application/javascript">

        $(document).ready(function () {
             $('#indication').DataTable({
                 searching: false,
                 {#ordering:  false,#}
                 paging: false,
                 select: true,
                 "bInfo" : false,
                 orderCellsTop: true,
                 "order": [],
                 "columnDefs": [
                    {
                        "targets": 1, // First column
                        "orderable": false
                    },
                     {
                        "targets": 8, // First column
                        "orderable": false
                    },
                    {
                        "targets": 9, // First column
                        "orderable": false
                    },
                    {
                        "targets": 10, // First column
                        "orderable": false
                    },

                 ]
            });
        });
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'center',
            autoUpdateInput: false,
            applyButtonClasses: "btn-success",

            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Применить",
                "cancelLabel": "Отменить",
                "fromLabel": "С",
                "toLabel": "По",
                "customRangeLabel": "Custom",
                "weekLabel": "Нд",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
          },},);
          $('.daterange').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
          });
          $('.daterange').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
        });
        $(".delete-confirmation").on('click', function() {
            if ( confirm('Вы уверены, что хотите удалить этот элемент?')){
                let tr_elem = $(this).parents('.row_elem')
                $.ajax({
                    headers: {"X-CSRFToken": $.cookie("csrftoken")},
                    url: `/admin/indication/delete/${$(this).data('target')}`,         /* Куда отправить запрос */
                    method: 'post',             /* Метод запроса (post или get) */
                    dataType: 'html',
                    context: 'html',
                    success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                        tr_elem.remove()
                    }
                });
            }
        });
        document.addEventListener("DOMContentLoaded", function(event) {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
        if($('.form-house-select').val()==='') {
            $('.select2-simple-section').select2({
              placeholder: 'Выберите дом',
              minimumResultsForSearch: -1

            })
        }else{
            $('.select2-simple-section').select2({
              placeholder: '',
              minimumResultsForSearch: -1

            })
        }
        $('.select2-simple-service').select2({
              placeholder: '',
              minimumResultsForSearch: -1

        })
         $('#filter').on('change',function () {
             $(this).trigger('submit')
         });


    </script>
    <script type="module" src="{% static 'admin_panel/indication/counter_indications_list.js' %}"></script>
{% endblock %}