{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}
    {% if income == 'plus' %}
        Новая приходная ведомость
    {% elif income == 'minus' %}
        Новая расходная ведомость
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/select2/css/select2.css' %}">
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="mb-0">
                {% if income == 'plus' %}
                    Новая приходная ведомость
                {% elif income == 'minus' %}
                    Новая расходная ведомость
                {% endif %}
            </h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                {% if user_permission.statistics %}
                    <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'update_personal' request.user.id %}">Главная</a></li>
                {% endif %}
                <li class="breadcrumb-item"><a href="{% url 'paybox' %}">Платежи</a></li>
                <li class="breadcrumb-item">
                    {% if income == 'plus' %}
                        Новая приходная ведомость
                    {% elif income == 'minus' %}
                        Новая расходная ведомость
                    {% endif %}
                </li>
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
      </div><!-- /.container-fluid -->
    </section>
            <!-- Main content -->
            <section class="content">
                <form method="post" id="paybox-form" action="{% url 'add_paybox' income %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row ps-2">
                        <div class="col-12">
                           <div class="d-flex justify-content-center align-items-start flex-column flex-sm-row align-items-sm-center justify-content-sm-start">
                                <div class="d-flex">
                                    <div class=" d-inline-flex align-items-center  ps-3 pe-3 pt-2 pb-2 bg-white" style="height: 38px;border: 1px solid #ced4da">
                                        №
                                    </div>
                                    <div class="">
                                        {% bootstrap_field form.number %}
                                    </div>
                                </div>
                                <div class="ps-2 pb-3 pe-2"><span>от</span></div>
                                <div class="d-flex">
                                    <div class="d-inline-flex align-items-center  ps-3 pe-3 pt-2 pb-2 bg-white" style="height: 38px;border: 1px solid #ced4da">
                                        <i class="fa-solid fa-calendar-days"></i>
                                    </div>
                                    {% bootstrap_field form.date_published %}
                                </div>
                           </div>
                        </div>
                    </div>
                    <!-- Default box -->
                   <div class="card card-primary card-outline card-success ps-3">
                        <div class="card-header p-0 border-bottom-0">
                        </div>
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-12 col-sm-6 pe-4">
                                    {% if income == 'plus' %}
                                        {% bootstrap_field form.flat_owner %}
                                        {% bootstrap_field form.personal_account %}
                                    {% elif income == 'minus' %}
                                         {% bootstrap_field form.flat_owner wrapper_class='d-none mb-3' %}
                                        {% bootstrap_field form.personal_account wrapper_class='d-none mb-3' %}
                                    {% endif %}
                                    {% bootstrap_field form.article %}
                                    {% bootstrap_field form.total %}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% bootstrap_field form.is_complete %}
                                    {% bootstrap_field form.user %}
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                {% bootstrap_button "Отменить" button_type="reset" button_class="btn-default" %}
                                {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-success" %}
                            </div>
                            <div class="row">
                                {% bootstrap_field form.comment %}
                            </div>
                        </div>
                   </div>
                </form>
            </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block  script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'admin_panel/adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="application/javascript" src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
    <script type="application/javascript" src="{% static 'node_modules/flatpickr/dist/l10n/ru.js' %}"></script>

    <script type="application/javascript">
        $('.select2').select2({
              placeholder: 'Выберите...',
              allowClear: true,
       })
        $(".publishing-date").flatpickr({
                dateFormat: "d.m.Y",
                locale: "ru", // locale for this instance only
        });
        $('.publishing-date').addClass('bg-white')
        $('.number').attr('value',generateNumber())
            function generateNumber() {
                var chars = "0123456789";
                var string_length = 5;
                var randomstring1 = '';
                var randomstring2 = '';
                for (var i=0; i<string_length; i++) {
                    var rnum = Math.floor(Math.random() * chars.length);
                    randomstring1 += chars.substring(rnum,rnum+1);
                }
                for (var i=0; i<string_length; i++) {
                    var rnum = Math.floor(Math.random() * chars.length);
                    randomstring2 += chars.substring(rnum,rnum+1);
                }
                let result = randomstring1+'-'+randomstring2
                return result;
        }
        $.validator.addMethod("positiveNumber", function(value, element) {
            if(value) {
                return parseFloat(value) > 0;
            }
            return true;
        }, "Укажите положительное значение");

        $("#paybox-form").validate({
            errorClass: "error fail-alert",
            validClass: "valid success-alert",
            ignore : '.ignore',
            rules : {
                'total': {
                    positiveNumber: true
                },
            },
            messages : {
                'article':{
                    required : "Обязательно укажите статью"
                },
                'total':{
                    required : "Обязательно укажите сумму"

                },
            }

        });
    </script>
    <script type="module" src="{% static 'admin_panel/paybox/get_paybox_form.js' %}"></script>
{% endblock %}