{% extends 'admin_panel/base_2a.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title_2a %}
    Лицевые счета
{% endblock %}
{% block head_2a %}
    <link rel="stylesheet" href="{% static 'admin_panel/personal_account/personal_account.css' %}">
{% endblock %}
{% block name %}
    Лицевые счета
 {% endblock %}
{% block navigation %}
    <li class="breadcrumb-item active">Лицевые счета</li>
{% endblock %}
{% block action_list %}
    <li><a class="dropdown-item" href="{% url 'add_personal_account' %}">Добавить лицевой счёт</a></li>
    <li><a class="dropdown-item" href="{% get_media_prefix %}/personal_account/info.xlsx" download="">Выгрузить в excel</a></li>
{% endblock %}

{% block card_body %}
    <form action="{% url 'filtered_personal_accounts' %}" method="get" id="filter">
       <table id="personal_account" class="table border-0 table-bordered table-hover  linkedRow w-100">
          <thead>
            <tr>
              <th>№</th>
              <th>Статус</th>
              <th>Квартира</th>
              <th>Дом</th>
              <th>Секция</th>
              <th>Владелец</th>
              <th>Остаток (грн)</th>
              <th></th>
            </tr>
            <tr class="border-0" >
               <td style="min-width: 150px">{% bootstrap_field filter_form.number wrapper_class='' %}
               </td>
               <td style="min-width: 160px">
                   <div class="form-group mb-0">
                       {% bootstrap_field filter_form.status wrapper_class='' %}
                   </div>
              </td>
              <td style="min-width: 150px">{% bootstrap_field filter_form.flat wrapper_class='' %}

              </td>
              <td  style="min-width: 200px">
                  {% bootstrap_field filter_form.house wrapper_class='' %}
              </td>
              <td  style="min-width: 200px">
                  {% bootstrap_field filter_form.section wrapper_class='' %}

              </td>
              <td  style="min-width: 250px">
                  {% bootstrap_field filter_form.flat_owner wrapper_class='' %}

              </td>
              <td  style="min-width: 150px">
                  {% bootstrap_field filter_form.have_debts wrapper_class='' %}
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for personal_account in personal_accounts %}
            <tr class="border-0">
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >{{ personal_account.number }}</td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.get_status_display == 'Активен' %}
                      <span class="badge text-bg-success text-white">Активен</span>
                      {% elif personal_account.get_status_display == 'Не активен' %}
                      <span class="badge text-bg-danger text-white">Не Активен</span>
                  {% endif %}
              </td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.flat is None %}
                      (не указано)
                  {% else %}
                      {{ personal_account.flat.number }}
                  {% endif %}
              </td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.house is None %}
                      (не указано)
                  {% else %}
                      {{ personal_account.house.title }}
                  {% endif %}
              </td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.section is None %}
                      (не указано)
                  {% else %}
                      {{ personal_account.section.title }}
                  {% endif %}
              </td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.flat.flat_owner is None %}
                      (не указано)
                  {% else %}
                      {{ personal_account.flat.flat_owner }}
                  {% endif %}
              </td>
              <td style="cursor: pointer" data-href="{% url 'read_personal_account' personal_account.id %}" >
                  {% if personal_account.balance > 0 %}
                      <span class="text-success">{{ personal_account.balance }}</span>
                      {% elif personal_account.balance < 0 %}
                      <span class="text-danger">{{ personal_account.balance }}</span>
                      {% else %}
                      <span>{{ personal_account.balance }}</span>
                  {% endif %}
              </td>
              <td class="ps-1 pe-1">
                  <div class="btn-group">
                      <a class="btn btn-default" href="{% url 'update_personal_account' personal_account.id %}" role="button"><i class="fa-solid fa-pencil"></i></a>
                      <button class="btn btn-default delete-confirmation" data-target="{{ personal_account.id }}" role="button"><i class="fa-solid fa-trash-can"></i></button>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
       </table>
    </form>
{% endblock %}

{% block card_footer %}
    <div class="d-inline-flex justify-content-end">
        {% bootstrap_pagination page_obj size='sm' %}
    </div>
    <hr style="border-top: 1px solid darkgrey;">
    <div>
      <div class="d-flex flex-row flex-wrap"><span>Количество счетов:&nbsp;</span> <span class="text-bold">{{ personal_accounts_count }}</span></div>
    </div>
    </div>
{% endblock %}


{% block  script_2a %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
             $('#personal_account').DataTable({
                 searching: false,
                 {#ordering:  false,#}
                paging: false,
                select: true,
                "bInfo" : false,
                 orderCellsTop: true,
                 "order": [],
                 "columnDefs": [
                     {
                        "targets": 7, // First column
                        "orderable": false
                    },


                 ]


            });
        });

        $(".delete-confirmation").on('click', function() {
            if ( confirm('Вы уверены, что хотите удалить этот элемент?')){
                $.ajax({
                    headers: {"X-CSRFToken": $.cookie("csrftoken")},
                    url: `/admin/personal_accounts/delete/${$(this).data('target')}`,         /* Куда отправить запрос */
                    method: 'post',             /* Метод запроса (post или get) */
                    dataType: 'html',
                    context: 'html',
                    success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */

                    }
                });
            }
        });
        document.addEventListener("DOMContentLoaded", function(event) {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
        if($('.form-house-select').val()==='') {
            $('.select2-simple-section').select2({
              placeholder: 'Выберите дом',
              minimumResultsForSearch: -1

            })
        }else{
            $('.select2-simple-section').select2({
              placeholder: '',
              minimumResultsForSearch: -1

            })
        }

    </script>
    <script type="module" src="{% static 'admin_panel/personal_account/personal_accounts_list.js' %}"></script>
{% endblock %}