{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}
    {% if paybox.debit_credit == "plus" %}
        Приходная ведомость
    {% else %}
        Расходная ведомость
    {% endif %}
{% endblock %}
{% block head %}
{% endblock %}


{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="mb-0">
                {% if paybox.debit_credit == "plus" %}
                    Приходная ведомость
                {% else %}
                    Расходная ведомость
                {% endif %}
            </h4>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right" style="font-size: 15px">
                {% if user_permission.statistics %}
                    <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'update_personal' request.user.id %}">Главная</a></li>
                {% endif %}
                <li class="breadcrumb-item"><a href="{% url 'paybox' %}">Платежи</a></li>
                <li class="breadcrumb-item active">
                    {% if paybox.debit_credit == "plus" %}
                        Приходная ведомость
                    {% else %}
                        Расходная ведомость
                    {% endif %}
                    №{{ paybox.number }}
                </li>
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
         <div class="row ps-2">
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-start flex-column flex-sm-row align-items-sm-center justify-content-sm-start">
                    <div class="d-flex">
                        <div class=" d-inline-flex align-items-center  ps-3 pe-3 pt-2 pb-2 bg-white" style="height: 38px;border: 1px solid #ced4da">
                            №
                        </div>
                        <div class="">
                            <div class="mb-3"><input type="text" name="number" class="form-control number rounded-0 shadow-none bg-white" placeholder="" readonly="readonly" required="" id="id_number" value="{{ paybox.number }}"></div>
                        </div>
                    </div>
                    <div class="ps-2 pb-3 pe-2"><span>от</span></div>
                    <div class="d-flex">
                            <div class="mb-3">
                                <input type="text" name="date_published" value="{{ paybox.date_published|date:"d.m.Y"  }}" class="form-control publishing-date rounded-0 shadow-none flatpickr-input bg-white" placeholder="" required="" id="id_date_published" readonly="readonly">
                            </div>
                            <div class="d-inline-flex align-items-center  ps-3 pe-3 pt-2 pb-2 bg-white" style="height: 38px;border: 1px solid #ced4da">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                    </div>
                </div>
            </div>
         </div>
      <!-- Default box -->
       <div class="card card-success card-outline">
            <div class="card-header text-right">
                <form action="{% url 'delete_paybox' paybox.id %}" method="post">
                  {% csrf_token %}
                <div class="d-flex justify-content-between flex-wrap">
                        <h5 class="me-1">
                            Просмотр
                                {% if paybox.debit_credit == "plus" %}
                                    приходной ведомости
                                {% else %}
                                    расходной ведомости
                                {% endif %}
                        </h5>
                        <div class="text-right d-flex flex-wrap">
                            <a class="btn btn-default me-1 mb-1" href="{% url 'copy_paybox' paybox.id %}">Копировать</a>
                            <button class="btn btn-default delete-confirmation me-1 mb-1" type="submit" role="button">Удалить</button>
                            <a class="btn btn-primary me-1 mb-1" href="{% url 'update_paybox' paybox.id %}">Редактировать ведомость</a>
                            <a class="btn btn-default me-1 mb-1" href="{% get_media_prefix %}/paybox/info.xlsx" download="">Выгрузить в Excel</a>
                        </div>
                    </div>
                </form>
            </div>

            <!-- /.card-header -->
            <div class="card-body p-3">
                <div class="col-12 col-md-8 ">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Владелец квартиры</td>
                                <td>
                                    {% if paybox.flat_owner is None %}
                                        не указано
                                    {% else %}
                                        <a href="{% url 'read_client' paybox.flat_owner.id %}">
                                            {{ paybox.flat_owner }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Лицевой счет</td>
                                <td>

                                    {% if paybox.personal_account is None %}
                                        не указано
                                    {% else %}
                                        <a href="{% url 'read_personal_account' paybox.personal_account.id %}">
                                            {{ paybox.personal_account }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Статья</td>
                                <td>
                                    {% if paybox.article is None %}
                                        не указано
                                    {% else %}
                                        {{ paybox.article }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Менеджер</td>
                                <td>
                                    {% if paybox.user is None %}
                                        не указано
                                    {% else %}
                                        <a href="{% url 'read_personal' paybox.user.id %}">
                                            {{ paybox.user }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Сумма</td>
                                <td>
                                    {% if paybox.debit_credit == "plus" %}
                                        <span class="text-success">
                                        {{ paybox.total }}
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            {{ paybox.total }}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Комментарий</td>
                                <td>
                                    {% if paybox.comment is None %}
                                        не указано
                                    {% else %}
                                        {{ paybox.comment }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-3">
            </div>
       </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block  script %}
    <script>
        $("form").on('submit', function() {
            return confirm('Вы уверены, что хотите удалить этот элемент?');

        });
    </script>
{% endblock %}