{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}
    Квартира №{{ flat.number }}, {{ flat.house }}
{% endblock %}
{% block head %}
{% endblock %}
{% load check_flat %}
{% load check_personal_account %}

{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="mb-0">Квартира №{{ flat.number }}, {{ flat.house }}</h4>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                {% if user_permission.statistics %}
                    <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'update_personal' request.user.id %}">Главная</a></li>
                {% endif %}
                <li class="breadcrumb-item"><a href="{% url 'flats' %}">Квартиры</a></li>
                <li class="breadcrumb-item active">Квартира №{{ flat.number }}, {{ flat.house }}</li>
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
       <div class="card card-success card-outline">
            <div class="card-header text-right">
                    <h3 class="card-title">Просмотр квартиры</h3>
                    <div class="">
                        {% if user_permission.paybox %}
                            <a {% if flat.id|accept_flat_payment is False  %} style="opacity: 0.5;cursor: not-allowed" class="btn btn-default mb-3 mb-sm-0 dsbld accept_payment" href="#!" {% else %} href="{% url 'flat_accept_payment' flat.id %}" class="btn btn-default mb-3 mb-sm-0 accept_payment" {% endif %}><i class="fa fa-dollar pe-2"></i>Принять платёж</a>
                        {% endif %}
                        {% if user_permission.receipt %}
                        <a class="btn btn-default mb-3 mb-sm-0" href="{% url 'flat_accept_receipt' flat.id %}"><i class="fa fa-files-o pe-2"></i>Оформить квитанцию</a>
                        {% endif %}
                        <a class="btn btn-primary mb-3 mb-sm-0" href="{% url 'update_flat' flat.id %}">Редактировать квартиру</a>
                    </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered table-striped table-view">
                            <tbody>
                                <tr>
                                    <td class="font-weight-bold">Лицевой счет</td>
                                    <td>
                                        {% if flat.personal_account == '' or flat.personal_account is None  %}
                                            не указано
                                        {% else %}
                                            <a {% if user_permission.personal_account %} href="{% url 'read_personal_account' flat.personal_account.id %}" {% else %} href="#!" {% endif %} >{{ flat.personal_account }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Номер квартиры</td>
                                    <td>{{ flat.number }}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Площадь</td>
                                    {% if flat.square is None %}
                                        <td>не указано</td>
                                    {% else %}
                                        <td>{{ flat.square }} м<sup>2</sup></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Дом</td>
                                    <td>
                                        <a {% if user_permission.house %} href="{% url 'read_house' flat.house.id %}" {% else %} href="#!" {% endif %}>{{ flat.house }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Секция</td>
                                    <td>
                                        {% if flat.section is None %}
                                            не указано
                                        {% else %}
                                            {{ flat.section }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Этаж</td>
                                    <td>
                                        {% if flat.floor is None %}
                                            не указано
                                        {% else %}
                                            {{ flat.floor }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Владелец</td>
                                    <td>
                                        {% if flat.flat_owner %}
                                            <a {% if user_permission.flat_owner %} href="{% url 'read_client' flat.flat_owner.id %}" {% else %} href="#!" {% endif %}>{{ flat.flat_owner.user.email }}</a>
                                        {% else %}
                                            не указано
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Тариф</td>
                                    <td>
                                        {% if flat.tariff is None %}
                                            не указано
                                        {% else %}
                                            {{ flat.tariff }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            {% if user_permission.indication %}
                                <p><a href="{% url 'flat_indications' flat.id %}">Посмотреть показания счетчиков</a></p>
                            {% endif %}
                            {% if user_permission.paybox %}
                                {% if flat.personal_account %}
                                    <p><a href="{% url 'flat_paybox' flat.id %}">Посмотреть приходы</a></p>
                                {% else %}
                                    <p><a class="accept_payment dsbld" href="#!">Посмотреть приходы</a></p>
                                {% endif %}
                            {% endif %}
                            {% if user_permission.receipt %}
                                <p><a href="{% url 'flat_receipts' flat.id %}">Посмотреть квитанции</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-3">
            </div>
       </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block  script %}
    <script type="module" src="{% static 'admin_panel/flat/read_flat.js' %}"></script>
{% endblock %}