@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
  body {
      color: black;
      font-family: 'Lato', Arial, sans-serif;
      font-size: 10px;

  }



  table {
      width: 100%;
      margin: auto;
  }

  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }

  th, td {
      padding: 10px;
  }