{% extends 'cabinet/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}
    Квитанции на оплату
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/select2/css/select2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'admin_panel/receipt/receipt.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock %}
{% block name %}
    Квитанции на оплату
 {% endblock %}
{% block navigation %}
    <li class="breadcrumb-item active">Квитанции на оплату</li>
{% endblock %}


{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
        <section class="content-header pb-0">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h4 class="mb-0">Квитанции на оплату</h4>
              </div>

              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right" style="font-size: 15px">
                    <li class="breadcrumb-item"><a href="{% url 'profile' %}">Главная</a></li>
                    <li class="breadcrumb-item active">Квитанции на оплату</li>
                </ol>
              </div>
            </div>
            <hr style="border-top: 1px solid darkgrey;">
          </div><!-- /.container-fluid -->
        </section>
        <section class="content">
         <div class="row ps-2">
            <div class="col-12">

            </div>
         </div>
      <!-- Default box -->
       <div class="card card-success card-outline">
            <div class="card-header text-right">
                <button type="button" class="btn btn-default clear_button">Очистить</button>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                    <form action="{% url 'filtered_receipts_cabinet' %}" method="get" id="filter">
                       {% csrf_token %}
                       <table id="receipt" class="table border-0 table-bordered table-hover  linkedRow w-100">
                          <thead>
                            <tr>
                              <th>№ квитанции</th>
                              <th>Дата</th>
                              <th>Статус</th>
                              <th>Сумма (грн)</th>
                            </tr>
                            <tr class="border-0" >
                               <td style="min-width: 150px">
                               </td>
                                <td style="min-width: 150px">
                                   {% bootstrap_field filter_form.daterange wrapper_class='' %}
                               </td>
                               <td style="min-width: 190px">
                                   {% bootstrap_field filter_form.status wrapper_class='' %}
                              </td>
                              <td style="min-width: 150px"></td>
                            </tr>
                          </thead>
                          <tbody>
                              {% for receipt in receipts %}
                                <tr class="border-0">
                                  <td style="cursor: pointer;" data-href="{% url 'read_receipt_cabinet' receipt.id %}">{{ receipt.number }}</td>
                                  <td style="cursor: pointer;" data-href="{% url 'read_receipt_cabinet' receipt.id %}">{{ receipt.date_published }}</td>
                                  <td style="cursor: pointer;" data-href="{% url 'read_receipt_cabinet' receipt.id %}">
                                      {% if receipt.get_status_display == 'Оплачена' %}
                                          <span class="badge text-bg-success text-white">Оплачена</span>
                                          {% elif receipt.get_status_display == 'Частично оплачена' %}
                                          <span class="badge text-bg-warning text-white">Частично оплачена</span>
                                          {% elif receipt.get_status_display == 'Не оплачена' %}
                                          <span class="badge text-bg-danger text-white">Не оплачена</span>
                                      {% endif %}
                                  </td>
                                  <td style="cursor: pointer;" data-href="{% url 'read_receipt_cabinet' receipt.id %}">{{ receipt.total_price }}</td>
                                </tr>
                              {% endfor %}
                          </tbody>
                       </table>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer  d-flex flex-column bg-white">
                <div class="d-inline-flex justify-content-end">
                    {% bootstrap_pagination page_obj size='sm' %}
                </div>
                <div>
                  <form  action="{% url 'receipts_cabinet' %}" method="get" class="d-none">
                    {% csrf_token %}
                    <button type="Submit" class="d-none" id="reloader_tool">Refresh</button>
                  </form>
                </div>
            </div>
       </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block  script %}
    <script src="{% static 'admin_panel/adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
             $('#receipt').DataTable({
                 searching: false,
                 {#ordering:  false,#}
                paging: false,
                select: true,
                "bInfo" : false,
                 orderCellsTop: true,
                 "order": [],
                 "columnDefs": [
                    {
                        "targets": 0, // First column
                        "orderable": false
                    },
                    {
                        "targets": 2, // First column
                        "orderable": false
                    },
                     {
                        "targets": 3, // First column
                        "orderable": false
                    },
                 ]

            });
        });
         document.addEventListener("DOMContentLoaded", function(event) {
            const rows = document.querySelectorAll("td[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
        $('.select2-simple').select2({
              placeholder: '',
              minimumResultsForSearch: -1

        })

       $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'center',
            autoUpdateInput: false,
            applyButtonClasses: "btn-success",

            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Применить",
                "cancelLabel": "Отменить",
                "fromLabel": "С",
                "toLabel": "По",
                "customRangeLabel": "Custom",
                "weekLabel": "Нд",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
          },},);
          $('.daterange').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
          });
          $('.daterange').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
        });
        $('.clear_button').on('click',function () {
            $('input').each(function () {
                $(this).val('')
            })
            $(".select2-simple").val('').trigger('change')
            $(".select2-simple-section").val('').trigger('change')
            $(".select2-simple-floor").val('').trigger('change')
            $(".select2").val('').trigger('change')

             $("#filter").trigger('submit')

        })
        $('#filter').on('change',function () {
             $(this).trigger('submit')
        });
         $('#filter').on('cancel.daterangepicker',function () {
            $(this).trigger('submit')
        });
         $('#filter').on('apply.daterangepicker',function () {
             $(this).trigger('submit')
        });

    </script>
{% endblock %}