{% extends 'admin_panel/base.html' %}
{%  load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{% load thumbnail %}
{# Read the documentation for more information#}
{% block title %}
    Тарифы
{% endblock %}
{% block head %}
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

{% endblock %}


{% block content %}
    <div class="content-wrapper" style="height: auto">
    <!-- Content Header (Page header) -->
    <section class="content-header pb-0">
      <div class="container-fluid">
        <div class="row mb-2">
         <div class="col-sm-6">
            <h4 class="mb-0">Редактирование страницы</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                {% if user_permission.statistics %}
                    <li class="breadcrumb-item"><a href="{% url 'statistic' %}">Главная</a></li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'update_personal' request.user.id %}">Главная</a></li>
                {% endif %}
                <li class="breadcrumb-item">Редактирование страницы</li>
            </ol>
          </div>
        </div>
        <hr style="border-top: 1px solid darkgrey;">
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
       <div class="card card-primary card-outline card-success ps-3">
            <div class="card-header ps-0 border-bottom-0 text-gray-dark">
                <h5 class="p-0 fs-5">Редактирование страницы "Тарифы"</h5>
                        <hr style="border-top: 1px solid darkgrey;">
            </div>
            <div class="card-body ps-0">
                <form method="post" action="{% url 'tariffs' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-8">
                            {% bootstrap_form tariff_site_form %}
                        </div>
                    </div>
                    <h5 class="p-0 fs-5">Тарифы</h5>
                    <hr style="border-top: 1px solid darkgrey;">
                    {{ info_photo_formset.management_form }}
                    <div class="formset row">
                        {% for info_photo_form in info_photo_formset %}
                            <div class="formset__item col-12 col-md-4 p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Тариф {{ forloop.counter }}</h5>
                                    <div><i class="fa fa-trash text-red tariff__delete" style="cursor: pointer" aria-hidden="true"></i></div>
                                </div>
                                {% if info_photo_form.instance.img == '' %}
                                    <img src="{% static 'admin_panel/imgs/placeholder.jpeg' %}"   alt="" class="img-fluid w-100" style="height: 200px;object-fit: cover">
                                {% else %}
                                    <img src="{% thumbnail info_photo_form.instance.img  'main' %}"   alt="" class="img-fluid w-100" style="height: 200px;object-fit: cover">
                                {% endif %}

                                <div class="mb-3">
                                    <label class="control-label mt-2 d-block" for="id_info_photo-{{ forloop.counter0 }}-img">Файл</label>
                                    <input type="file" name="info_photo-{{ forloop.counter0 }}-img" class="" accept="image/*" id="id_info_photo-{{ forloop.counter0 }}-img">
                                </div>
                                {% bootstrap_field info_photo_form.title %}
                                <input type="hidden" name="info_photo-{{ forloop.counter0 }}-id" value="{{ info_photo_form.id.value }}" id="id_info_photo-{{ forloop.counter0 }}-id">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" name="info_photo-{{ forloop.counter0 }}-DELETE" class="form-check-input" id="id_info_photo-{{ forloop.counter0 }}-DELETE" style="display: none;">
                                        <label class="form-check-label" for="id_info_photo-{{ forloop.counter0 }}-DELETE" style="display: none;">Удалить</label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <h4 class="p-0 fs-5 pt-3">Настройки SEO</h4>
                    <hr class="pb-3" style="border-top: 1px solid darkgrey;">
                    {% bootstrap_form seo_form %}
                    <div class="text-center">
                        {% bootstrap_button "Отменить" button_type="reset" button_class="btn-default mb-2" %}
                        {% bootstrap_button "Добавить тариф" button_type="button" button_class="btn-success add__tariff mb-2" %}
                        {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-success mb-2" %}
                    </div>
                </form>
            </div>

        </div>
    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block  script %}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ru-RU.min.js" integrity="sha512-uCNUSqDrnthkeMqbxKoePE2CewCjUenOwh3/Fw8shLJ+bBppg6ynadVRVcL5EStFBq2GUKUrAJZgC2qs/Q5z9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="{% static 'admin_panel/manage_site/manage_site.js' %}"></script>
    <script type="module" src="{% static 'admin_panel/manage_site/tariff.js' %}"></script>
{% endblock %}